.idea
[Aa]ssets/character-pack-free_version
[Aa]ssets/character-pack-free_version.meta
[Aa]ssets/Tiny Wonder Farm Free
[Aa]ssets/Tiny Wonder Farm Free.meta
[Ll]ibrary
[Ll]ogs
[Oo]bj
[Tt]emp
[Uu]serSettings
*.csproj
*.sln